header {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 44, 91, 1) 25%,
    rgba(108, 171, 221, 1) 100%
  );
  margin-bottom: 2rem;
}

.main-dash {
  border: black solid 1px;
}

ul {
  list-style: none;
  text-align: left;
  padding-left: 8px;
  margin-left: 8px;
}

ul li {
  margin: 3px;
}

.card {
  padding-left: 0;
  margin: 5px;
}

.card-body {
  padding-left: 0;
  margin-left: 0;
}

#c1,
#c2,
#c3,
#c4,
#c5 {
  padding-left: 12px;
}

.search-area {
  border-bottom: solid black 2px;
}

input {
  width: 10rem;
}
.search-btn {
  padding: 7px;
  margin: 5px;
  background: linear-gradient(
    90deg,
    rgb(110, 103, 247) 0%,
    rgb(90, 122, 216) 25%,
    rgba(108, 171, 221, 1) 100%
  );
  color: white;
}

.city-button {
  padding: 7px;
  margin: 5px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 44, 91, 1) 25%,
    rgba(108, 171, 221, 1) 100%
  );
  color: white;
}

#emoji,
#city,
#c1emoji,
#c1 {
  display: inline-block;
}

#emoji-#city,
#c1emoji-#c1 {
  vertical-align: middle;
}
